<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meu Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="NavbarItems">
        <a asp-area="" asp-page="/" class="navbar-logo">UnityHub</a>
        <div class="menu-icons" id="menuIcon">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="nav-menu" id="navMenu">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-links">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="About" class="nav-links">
                    <i class="fas fa-info-circle"></i> Sobre
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-links">
                    <i class="fas fa-envelope"></i> Contacto
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="SignIn" class="nav-links">
                    Registar
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
